
@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_LayoutClientShop.cshtml";
    var products = ViewBag.sanphams;
    var takes = ViewBag.TakeProduct;
}




<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Shared/LeftMenu.cshtml")
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            @foreach (var take in takes)
                            {
                                var url = "Detail/" + take.ma_sp;
                            <div class="col-lg-4">
                                <a href="Home/Detail/@take.ma_sp">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             data-setbg="../../@take.hinh_anh">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="/Cart/addToCart/@take.ma_sp"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>@take.nhacungcaps.ten_nha_cung_cap</span>
                                            <h5><a href="#">@take.ten_sp</a></h5>
                                            <div class="product__item__price">@take.gias.gia_khuyen_mai đ<span>@take.gias.gia_goc đ</span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">

                            <div class="filter__sort">
                                <span>Sort By</span>
                                <a href="#">Tang dan</a>
                                <a href="#">Giam dan</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>16</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var product in products)
                    {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <a href="Home/Detail/@product.ma_sp">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../@product.hinh_anh">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="/Cart/addToCart/@product.ma_sp"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@product.ten_sp</a></h6>
                                    <h5>@product.gias.gia_khuyen_mai đ</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    }
                </div>
                @if (ViewBag.totalPage > 1)
                {
                    var pageDisplay = (int)ViewBag.maxPage;
                    int totalPage = (int)ViewBag.totalPage;
                    int currentPage = (int)ViewBag.page;

                    //create numberic links
                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                    var link = "/Home/ShowProduct";
                    <div class="product__pagination">
                        @if (currentPage > ViewBag.first)
                        {
                            <a href="@link?page=@ViewBag.first"><i class="fa fa-angle-double-left"></i></a>
                            <a href="@link?page=@ViewBag.prev"><i class="fa fa-angle-left"></i></a>
                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {
                                    <a href="@link?page=@i">@i</a>
                            }
                            else
                            {
                                    <a href="@link?page=@i">@i</a>
                            }
                        }
                            @if (currentPage < totalPage)
                            {
                                <a href="@link?page=@ViewBag.next"><i class="fa fa-angle-right"></i></a>
                                <a href="@link?page=@ViewBag.last"><i class="fa fa-angle-double-right"></i></a>
                            }
                    </div>
                }
                else
                {
                    <span>Không có bản ghi nào</span>
                }

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
